@media (max-width: 768px) {
  .container {
    max-width: 100vw;
  }

  .info .info-text p {
    font-size: 1.56vw;
  }
}

@media (max-width: 480px) {
  .container {
    max-width: 100vw;
  }

  .info .info-text p {
    font-size: 2.08vw;
  }
}
