html,
body {
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  font-weight: 400 !important;
  -ms-text-size-adjust: 100% !important;
  -webkit-text-size-adjust: 100% !important;
  font-size: 16px !important;
  color: #444 !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

h5 {
  font-size: 1.25rem !important;
  margin: 0 !important;
}

h6 {
  font-size: 1.125rem !important;
  margin: 0 !important;
}

a {
  color: unset !important;
  text-decoration: unset !important;
}

button {
  cursor: pointer !important;
  border: unset !important;
  font-size: 1rem !important;
  font-weight: bold !important;
  color: #444 !important;
}

span.line {
  margin: 0;
  display: block !important;
  width: 100% !important;
  height: 1px !important;
  background: #e2e2e2 !important;
  margin: 3rem 0 !important;
}

.container {
  max-width: 48rem !important;
  margin: 0 auto !important;
  padding: 3rem 1.5rem !important;
  border: 1px solid #eee !important;
}

.logo {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin-bottom: 1.5rem !important;
  text-align: center !important;
}

.logo span {
  margin: 0;
  font-size: 1.25rem !important;
  font-weight: 900 !important;
  background: #F5F5F5 !important;
  padding: 0.5rem 1rem !important;
}

.button-group {
  display: flex !important;
}

button {
  padding: 0.75rem 1rem !important;
  flex: 1 1 !important;
  margin-right: 1rem !important;
  border-radius: 0.5rem !important;
}

button:last-child {
  margin-right: 0 !important;
}

button.btn-primary {
  background: #05376C !important;
  color: #fff !important;
}

button.btn-secondary {
  background: #F5F5F5 !important;
  color: #232527 !important;
  border: 1px solid #E2E2E2 !important;
}

.title {
  text-align: center !important;
}

.title .title-text {
  margin-bottom: 1.5rem !important;
}

.title .title-text h5 {
  color: #05376C !important;
}

.title .title-text h5:last-child {
  color: #232527 !important;
  font-weight: normal !important;
}

.info {
  background: #DCE7F8 !important;
  padding: 1.5rem !important;
  border-radius: 0.5rem !important;
  margin-bottom: 1.5rem !important;
}

.info .info-text {
  margin-bottom: 1.5rem !important;
}

.info .info-text:last-child {
  margin-bottom: 0 !important;
}

.info .info-text span {
  margin: 0;
  font-size: 1rem !important;
  color: #444 !important;
}

.certificate {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 100% !important;
  background: #E2E2E2 !important;
  border-radius: 0.5rem !important;
  margin-bottom: 1.5rem !important;
  padding: 2rem 0 !important;
}

.certificate .certificate-image {
  display: block !important;
  width: 21.5rem !important;
  height: 30.5rem !important;
  background: #fff !important;
}

.guidebox {
  margin-bottom: 2rem !important;
}

.guidebox h6 {
  color: #232527 !important;
  text-decoration: underline
}

.guidebox .guide-list {}

.guidebox .guide-list ul {
  list-style: none !important;
  counter-reset: steps !important;
  padding-inline-start: 2rem !important;
}

.guidebox .guide-list ul li {
  margin-bottom: 1rem !important;
  counter-increment: steps !important;
  list-style-position: inside !important;
  text-indent: -2.125rem !important;
}

.guidebox .guide-list ul li::before {
  content: counter(steps) !important;
  margin-right: 0.5rem !important;
  display: inline-grid !important;
  place-items: center !important;
  width: 1.25rem !important;
  height: 1.25rem !important;
  font-size: 0.75rem !important;
  font-weight: bold !important;
  border-radius: 50% !important;
  background: #fff !important;
  border: 1px solid #444 !important;
  text-indent: 0rem !important;
}

.guidebox .guide-list ul li:last-child {
  margin-bottom: 0 !important;
}

.guidebox .guide-list ul li span {
  margin: 0;
  display: inline !important;
  margin-bottom: 0.75rem !important;
  line-height: 1.8 !important;
}

.guidebox .guide-list ul li p:last-child {
  margin-bottom: 0 !important;
}

footer {
  max-width: 48rem !important;
  margin: 0 auto !important;
  font-size: 0.875rem !important;
  color: #fff !important;
  padding: 3rem 1.5rem !important;
  background: #777777 !important;
}

footer .footer-item {
  margin-bottom: 1rem !important;
}

footer .footer-item:last-child {
  margin-bottom: 0 !important;
}

footer .footer-item a {
  font-weight: bold !important;
  margin-right: 0.5rem !important;
}

footer .footer-item a:last-child {
  margin-right: 0 !important;
}

footer .footer-item span {
  margin: 0;
  margin-right: 0.5rem !important;
}

footer .copyright {
  opacity: 0.6 !important;
}

/* VIEWPOINT-480px */
@media (max-width: 480px) {
  article.article_view>div {
    width: 100% !important;
  }

  #message_view_table ul {
    padding: 2.50vw 0 !important;
  }

  #message_view_table ul li {
    list-style: none;
  }

  span.line {
    margin: 0;
    margin: 5.00vw 0 !important;
  }

  span.pc-only {
    margin: 0;
    display: none;
  }

  .container {
    max-width: 100vw !important;
    padding: 6.67vw 3.33vw !important;
  }

  .title .title-text h5 {
    font-size: 3.33vw !important;
    line-height: 1.4 !important;
  }

  .title .title-text h5 span {
    margin: 0;
    font-size: 3.33vw !important;
    line-height: 1.4 !important;
  }

  .info {
    padding: 2.50vw !important;
  }

  .info .info-text {
    margin-bottom: 2.50vw !important;
  }

  .info .info-text span {
    margin: 0;
    font-size: 2.92vw !important;
    line-height: 1.4 !important;
  }

  .info .info-text span span {
    margin: 0;
    font-size: 2.92vw !important;
    line-height: 1.4 !important;
  }

  .info .info-text br {
    display: none !important;
  }

  .certificate {
    width: 100% !important;
    background: unset !important;
    padding: 2.50vw 0 !important;
    background: #E2E2E2 !important;
  }

  .certificate .certificate-image {
    display: block !important;
    width: 80vw !important;
    height: 113.05vw !important;
    background: #fff !important;
  }

  .button-group button {
    font-size: 2.92vw !important;
    line-height: 1.4 !important;
  }

  .button-group button span {
    margin: 0;
    font-size: 2.92vw !important;
    line-height: 1.4 !important;
  }

  .guidebox {
    margin-bottom: 5.00vw !important;
  }

  .guidebox h6 {
    font-size: 2.50vw !important;
  }

  .guidebox .guide-list ul li {
    list-style: none !important;
    margin-bottom: 2.50vw !important;
    text-indent: -5.0vw !important;
  }

  .guidebox .guide-list ul li::before {
    margin-right: 1.25vw !important;
    width: 2.50vw !important;
    height: 2.50vw !important;
    font-size: 2.50vw !important;
  }

  .guidebox .guide-list ul li span {
    margin: 0;
    font-size: 2.92vw !important;
    line-height: 1.4 !important;
  }

  .guidebox .guide-list ul li span span {
    margin: 0;
    font-size: 2.92vw !important;
    line-height: 1.4 !important;
  }

  footer {
    max-width: 100vw !important;
    padding: 6.67vw 3.33vw !important;
    font-size: 2.92vw !important;
  }

  footer .footer-item a {
    display: block;
    margin-bottom: 2.2vw !important;
  }

  footer .footer-item a::before {
    content: "►";
    padding-right: 1.25vw !important;
  }

  footer .footer-item p span,
  footer .footer-item a span,
  footer .footer-item span span {
    margin: 0;
    font-size: 2.92vw !important;
  }

  /* VIEWPOINT-360px */
  @media (max-width: 360px) {
    article.article_view>div {
      width: 100% !important;
    }

    #message_view_table ul {
      padding: 4.44vw 0 !important;
    }

    span.line {
      margin: 0;
      margin: 6.66vw 0 !important;
    }

    span.pc-only {
      margin: 0;
      display: none;
    }

    .container {
      max-width: 100vw !important;
      padding: 8.88vw 3.33vw !important;
    }

    .title .title-text h5 {
      font-size: 4.44vw !important;
      line-height: 1.4 !important;
    }

    .title .title-text h5 span {
      margin: 0;
      font-size: 4.44vw !important;
      line-height: 1.4 !important;
    }

    .info {
      padding: 3.33vw !important;
    }

    .info .info-text {
      margin-bottom: 3.33vw !important;
    }

    .info .info-text span {
      margin: 0;
      font-size: 3.88vw !important;
      line-height: 1.4 !important;
    }

    .info .info-text br {
      display: none !important;
    }

    .certificate {
      width: 100% !important;
      background: unset !important;
      padding: 4.44vw 0 !important;
    }

    .certificate .certificate-image {
      display: block !important;
      width: 80vw !important;
      height: 113.05vw !important;
      background: #fff !important;
    }

    .button-group button {
      font-size: 3.88vw !important;
      line-height: 1.4 !important;
    }

    .button-group button span {
      margin: 0;
      font-size: 3.88vw !important;
      line-height: 1.4 !important;
    }

    .guidebox {
      margin-bottom: 6.66vw !important;
    }

    .guidebox h6 {
      font-size: 4.44vw !important;
    }

    .guidebox .guide-list ul li {
      list-style: none !important;
      margin-bottom: 3.33vw !important;
      text-indent: -7.77vw !important;
    }

    .guidebox .guide-list ul li::before {
      margin-right: 1.66vw !important;
      width: 4.44vw !important;
      height: 4.44vw !important;
      font-size: 3.33vw !important;
    }

    .guidebox .guide-list ul li span {
      margin: 0;
      font-size: 3.88vw !important;
      line-height: 1.4 !important;
    }

    .guidebox .guide-list ul li p span {
      margin: 0;
      font-size: 3.88vw !important;
      line-height: 1.4 !important;
    }

    footer {
      max-width: 100vw !important;
      padding: 8.88vw 3.33vw !important;
      font-size: 3.88vw !important;
    }

    footer .footer-item a {
      display: block;
      margin-bottom: 2.2vw !important;
    }

    footer .footer-item a::before {
      content: "►";
      padding-right: 1.66vw !important;
    }

    footer .footer-item p span,
    footer .footer-item a span,
    footer .footer-item span span {
      margin: 0;
      font-size: 3.88vw !important;
    }
  }
}
