html,
body {
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  font-weight: 400 !important;
  -ms-text-size-adjust: 100% !important;
  -webkit-text-size-adjust: 100% !important;
  font-size: 16px !important;
  color: #444 !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

a {
  color: unset !important;
  text-decoration: unset !important;
}

.email-container span.line {
  margin: 0 !important;
  display: block !important;
  width: 100% !important;
  height: 1px !important;
  background: #e2e2e2 !important;
  margin: 3rem 0 !important;
}

.email-container {
  max-width: 48rem !important;
  margin: 0 auto !important;
  padding: 3rem 1.5rem !important;
  border: 1px solid #eee !important;
}

.email-container .logo {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin-bottom: 1.5rem !important;
  text-align: center !important;
}

.email-container .logo span {
  margin: 0 !important;
  font-size: 1.25rem !important;
  font-weight: 900 !important;
  background: #F5F5F5 !important;
  padding: 0.5rem 1rem !important;
}

.email-container .button-group {
  display: flex !important;
}

.email-container .button-group.mb-2 {
  margin-bottom: 2rem !important;
}

.email-container button.btn-email {
  cursor: pointer !important;
  border: unset !important;
  font-size: 1rem !important;
  font-weight: bold !important;
  color: #444 !important;
  padding: 0.75rem 1rem !important;
  flex: 1 1 !important;
  margin-right: 1rem !important;
  border-radius: 0.5rem !important;
}

.email-container button:last-child {
  margin-right: 0 !important;
}

.email-container button.btn-email.btn-primary {
  background: #05376C !important;
  color: #fff !important;
}

.email-container button.btn-email.btn-secondary {
  background: #F5F5F5 !important;
  color: #232527 !important;
  border: 1px solid #E2E2E2 !important;
}

.email-container .title {
  text-align: center !important;
}

.email-container .title .title-text {
  margin-bottom: 1.5rem !important;
}

.email-container .title .title-text h5 {
  font-size: 1.25rem !important;
  margin: 0 !important;
  color: #05376C !important;
}

.email-container .title .title-text h5:last-child {
  color: #232527 !important;
  font-weight: normal !important;
}

.email-container .info {
  background: #DCE7F8 !important;
  padding: 1.5rem !important;
  border-radius: 0.5rem !important;
  margin-bottom: 1.5rem !important;
}

.email-container .info .info-text {
  margin-bottom: 1.5rem !important;
}

.email-container .info .info-text:last-child {
  margin-bottom: 0 !important;
}

.email-container .info .info-text span {
  margin: 0 !important;
  font-size: 1rem !important;
  color: #444 !important;
  line-height: 1.4;
}

.email-container .certificate,
.email-container .account-info {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 100% !important;
  background: #E2E2E2 !important;
  border-radius: 0.5rem !important;
  margin-bottom: 1.5rem !important;
  padding: 2rem 0 !important;
}

.email-container .certificate .certificate-image {
  display: block !important;
  width: 21.5rem !important;
  height: 30.5rem !important;
  background: #fff !important;
}

.email-container .account-table {
  display: block !important;
  background: #fff !important;
}

.email-container .account-info .account-table {
  text-align: center;
  padding: 1rem !important;
}

.email-container .account-info .account-table table {
  display: table !important;
  width: 28rem !important;
}

.email-container .account-info .account-table table tr:last-child {
  margin-bottom: 0 !important;
}

.email-container .account-info .account-table table th {
  text-align: left !important;
  font-size: 1rem;
  font-weight: normal !important;
  color: #777 !important;
  line-height: 1.8 !important;
}

.email-container .account-info .account-table table td {
  text-align: right !important;
  font-size: 1rem;
  font-weight: bold !important;
  color: #444 !important;
  line-height: 1.8 !important;
}

.email-container .account-info .account-table span.line {
  margin: 1rem 0 !important;
}

.email-container .account-info .account-table span.table-title {
  font-size: 1rem !important;
  font-weight: bold !important;
  padding: 1rem 0 !important;
}

.email-container .change-info {
  margin-bottom: 2rem !important;
  padding: 1.5rem !important;
  border: 1px solid #E2E2E2 !important;
}

.email-container .change-info .change-text {
  margin-bottom: 2rem !important;
}

.email-container .change-info .change-text:last-child {
  margin-bottom: 0 !important;
}

.email-container .change-info .change-text span.content {
  display: block !important;
  font-size: 1rem;
  line-height: 1.4;

  line-height: 1.4;
}

.email-container .change-info .change-text span.underline {
  margin-top: 1rem;
  margin-bottom: 0 !important;
  text-decoration: underline !important;
}

.email-container .guidebox {
  margin-bottom: 2rem !important;
}

.email-container .guidebox h6 {
  font-size: 1.125rem !important;
  margin: 0 !important;
  color: #232527 !important;
  text-decoration: underline !important;
}

.email-container .guidebox .guide-list ul {
  list-style: none !important;
  counter-reset: steps !important;
  padding-inline-start: 2rem !important;
}

.email-container .guidebox .guide-list ul li {
  margin-bottom: 1rem !important;
  counter-increment: steps !important;
  list-style-position: inside !important;
  text-indent: -2.125rem !important;
}

.email-container .guidebox .guide-list ul li::before {
  content: counter(steps) !important;
  margin-right: 0.5rem !important;
  display: inline-grid !important;
  place-items: center !important;
  width: 1.25rem !important;
  height: 1.25rem !important;
  font-size: 0.75rem !important;
  font-weight: bold !important;
  border-radius: 50% !important;
  background: #fff !important;
  border: 1px solid #444 !important;
  text-indent: 0rem !important;
}

.email-container .guidebox .guide-list ul li:last-child {
  margin-bottom: 0 !important;
}

.email-container .guidebox .guide-list ul li span {
  margin: 0 !important;
  display: inline !important;
  margin-bottom: 0.75rem !important;
  line-height: 1.8 !important;
}

.email-container .guidebox .guide-list ul li p:last-child {
  margin-bottom: 0 !important;
}

footer.email-footer {
  max-width: 48rem !important;
  margin: 0 auto !important;
  font-size: 0.875rem !important;
  color: #fff !important;
  padding: 3rem 1.5rem !important;
  background: #777777 !important;
}

footer.email-footer .footer-item {
  margin-bottom: 1rem !important;
}

footer.email-footer .footer-item:last-child {
  margin-bottom: 0 !important;
}

footer.email-footer .footer-item a {
  font-weight: bold !important;
  margin-right: 0.5rem !important;
}

footer.email-footer .footer-item a:last-child {
  margin-right: 0 !important;
}

footer.email-footer .footer-item span {
  margin: 0 !important;
  margin-right: 0.5rem !important;
}

footer.email-footer .copyright {
  opacity: 0.6 !important;
}

/* VIEWPOINT-768px */
@media (max-width: 768px) {
  article.article_view>div {
    width: 100% !important;
  }

  #message_view_table {
    height: 100vh !important;
  }

  #message_view_table ul {
    padding: 2.08vw 0 !important;
  }

  #message_view_table ul li {
    list-style: none !important;
  }

  .email-container span.line {
    margin: 4.17vw 0 !important;
  }

  .email-container {
    padding: 6.25vw 3.13vw !important;
  }

  .email-container .title .title-text h5 {
    font-size: 2.60vw !important;
    line-height: 1.4 !important;
  }

  .email-container .title .title-text h5 span {
    margin: 0 !important;
    font-size: 2.60vw !important;
    line-height: 1.4 !important;
  }

  .email-container .info {
    padding: 3.13vw !important;
  }

  .email-container .info .info-text span {
    margin: 0 !important;
    font-size: 2.08vw !important;
    line-height: 1.4 !important;
  }

  .email-container .info .info-text span span {
    margin: 0 !important;
    font-size: 2.08vw !important;
    line-height: 1.4 !important;
  }

  .email-container .certificate,
  .email-container .account-info {
    width: calc(100% - (3.13vw * 2)) !important;
    padding: 3.13vw !important;
  }

  .email-container .account-table {
    width: calc(100% - 5vw) !important;
    border: 1px solid #E2E2E2 !important;
  }

  .email-container .account-info .account-table table {
    width: 100% !important;
  }

  .email-container .account-info .account-table table th,
  .email-container .account-info .account-table table td {
    font-size: 2.08vw !important;
  }

  .email-container .account-info .account-table table th span,
  .email-container .account-info .account-table table td span {
    font-size: 2.08vw !important;
  }

  .email-container .account-info .account-table span.line {
    margin: 3.13vw 0 !important;
  }

  .email-container .account-info .account-table span.table-title {
    font-size: 2.60vw !important;
    padding: 3.13vw 0 !important;
  }

  .email-container .account-info .account-table span.table-title span {
    font-size: 2.60vw !important;
    padding: 3.13vw 0 !important;
  }

  .email-container .button-group {
    flex-direction: column !important;
  }

  .email-container .button-group button {
    font-size: 2.08vw !important;
    line-height: 1.4 !important;
    margin-right: 0 !important;
    margin-bottom: 3.13vw !important;
  }

  .email-container .button-group button:last-child {
    margin-bottom: 0 !important;
  }

  .email-container .button-group button span {
    margin: 0 !important;
    font-size: 2.08vw !important;
    line-height: 1.4 !important;
  }

  .email-container .change-info {
    padding: 3.13vw !important;
  }

  .email-container .change-info .change-text {
    margin-bottom: 4.17vw !important;
  }

  .email-container .change-info .change-text span.content {
    font-size: 2.08vw !important;
    word-break: keep-all !important;
    line-height: 1.4 !important;
  }

  .email-container .change-info .change-text span.content span {
    font-size: 2.08vw !important;
  }

  .email-container .change-info .change-text span.underline {
    margin-top: 2.08vw !important;
    font-size: 2.08vw !important;
  }

  .email-container .guidebox {
    margin-bottom: 4.17vw !important;
  }

  .email-container .guidebox h6 {
    font-size: 2.34vw !important;
  }

  .email-container .guidebox .guide-list ul {
    padding-inline-start: 5.21vw !important;
  }

  .email-container .guidebox .guide-list ul li {
    line-height: 1.2 !important;
    list-style: none !important;
    margin-bottom: 2.08vw !important;
    text-indent: -5.21vw !important;
  }

  .email-container .guidebox .guide-list ul li::before {
    line-height: 1.4 !important;
    margin-right: 1.04vw !important;
    width: 3.13vw !important;
    height: 3.13vw !important;
    font-size: 2.08vw !important;
  }

  .email-container .guidebox .guide-list ul li span {
    margin: 0 !important;
    font-size: 2.08vw !important;
    line-height: 1.4 !important;
  }

  .email-container .guidebox .guide-list ul li span span {
    margin: 0 !important;
    font-size: 2.08vw !important;
    line-height: 1.4 !important;
  }

  .email-container .change-info .change-text span.underline {
    margin-top: 2.08vw !important;
  }

  footer.email-footer {
    max-width: 100vw !important;
    padding: 6.25vw 3.13vw !important;
    font-size: 2.08vw !important;
  }

  footer.email-footer .footer-item a {
    margin-bottom: 2.08vw !important;
  }

  footer.email-footer .footer-item a::before {
    padding-right: 1.04vw !important;
  }

  footer.email-footer .footer-item p span,
  footer.email-footer .footer-item a span,
  footer.email-footer .footer-item span span {
    margin: 0 !important;
    font-size: 2.08vw !important;
  }
}

/* VIEWPOINT-480px */
@media (max-width: 480px) {
  article.article_view>div {
    width: 100% !important;
  }

  #message_view_table {
    height: 100vh !important;
  }

  #message_view_table ul {
    padding: 3.33vw 0 !important;
  }

  #message_view_table ul li {
    list-style: none !important;
  }

  .email-container span.line {
    margin: 0 !important;
    margin: 5.00vw 0 !important;
  }

  .email-footer span.pc-only {
    margin: 0 !important;
    display: none !important;
  }

  .email-container {
    max-width: 100vw !important;
    padding: 6.67vw 3.33vw !important;
  }

  .email-container .title .title-text h5 {
    font-size: 3.33vw !important;
    line-height: 1.4 !important;
  }

  .email-container .title .title-text h5 span {
    margin: 0 !important;
    font-size: 3.33vw !important;
    line-height: 1.4 !important;
  }

  .email-container .info {
    padding: 3.33vw !important;
  }

  .email-container .info .info-text {
    margin-bottom: 3.33vw !important;
  }

  .email-container .info .info-text span {
    margin: 0 !important;
    font-size: 3.33vw !important;
    line-height: 1.2 !important;
  }

  .email-container .info .info-text span span {
    margin: 0 !important;
    font-size: 3.33vw !important;
    line-height: 1.2 !important;
  }

  .email-container .info .info-text br {
    display: none !important;
  }

  .email-container .certificate,
  .email-container .account-info {
    width: 100% !important;
    background: unset !important;
    padding: 3.33vw 0 !important;
  }

  .email-container .certificate .certificate-image {
    display: block !important;
    width: calc(100% - 5vw) !important;
    height: 113.05vw !important;
    background: #E2E2E2 !important;
  }

  .email-container .account-table {
    width: calc(100% - 5vw) !important;
    border: 1px solid #E2E2E2 !important;
  }

  .email-container .account-info .account-table table {
    width: 100% !important;
  }

  .email-container .account-info .account-table table th,
  .email-container .account-info .account-table table td {
    font-size: 3.33vw !important;
  }

  .email-container .account-info .account-table table th span,
  .email-container .account-info .account-table table td span {
    font-size: 3.33vw !important;
  }

  .email-container .account-info .account-table span.line {
    margin: 3.33vw 0 !important;
  }

  .email-container .account-info .account-table span.table-title {
    font-size: 3.33vw !important;
    padding: 3.33vw 0 !important;
  }

  .email-container .account-info .account-table span.table-title span {
    font-size: 3.33vw !important;
    padding: 3.33vw 0 !important;
  }

  .email-container .button-group {
    flex-direction: column !important;
  }

  .email-container .button-group button {
    font-size: 3.33vw !important;
    line-height: 1.4 !important;
    margin-right: 0 !important;
    margin-bottom: 3.33vw !important;
  }

  .email-container .button-group button:last-child {
    margin-bottom: 0 !important;
  }

  .email-container .button-group button span {
    margin: 0 !important;
    font-size: 3.33vw !important;
    line-height: 1.4 !important;
  }

  .email-container .change-info {
    padding: 3.33vw !important;
  }

  .email-container .change-info .change-text {
    margin-bottom: 6.67vw !important;
  }

  .email-container .change-info .change-text span.content {
    font-size: 3.33vw !important;
    word-break: keep-all !important;
    line-height: 1.4 !important;
    margin-bottom: 3.33vw !important;
  }

  .email-container .change-info .change-text span.content span {
    font-size: 3.33vw !important;
  }


  .email-container .change-info .change-text span.content span {
    font-size: 3.33vw !important;
  }
  .email-container .change-info .change-text span.underline {
    font-size: 3.33vw !important;
    margin-top: 3.33vw !important;
  }

  .email-container .guidebox {
    margin-bottom: 5.00vw !important;
  }

  .email-container .guidebox h6 {
    font-size: 3.33vw !important;
  }

  .email-container .guidebox .guide-list ul li {
    line-height: 1.2 !important;
    list-style: none !important;
    margin-bottom: 3.33vw !important;
    text-indent: -7.50vw !important;
  }

  .email-container .guidebox .guide-list ul li::before {
    line-height: 1.4 !important;
    margin-right: 1.25vw !important;
    width: 5.00vw !important;
    height: 5.00vw !important;
    font-size: 3.33vw !important;
  }

  .email-container .guidebox .guide-list ul li span {
    margin: 0 !important;
    font-size: 3.33vw !important;
    line-height: 1.4 !important;
  }

  .email-container .guidebox .guide-list ul li span span {
    margin: 0 !important;
    font-size: 3.33vw !important;
    line-height: 1.4 !important;
  }

  footer.email-footer {
    max-width: 100vw !important;
    padding: 6.67vw 3.33vw !important;
    font-size: 2.92vw !important;
  }

  footer.email-footer .footer-item a {
    display: block;
    margin-bottom: 2.2vw !important;
  }

  footer.email-footer .footer-item a::before {
    content: "►";
    padding-right: 1.25vw !important;
  }

  footer.email-footer .footer-item p span,
  footer.email-footer .footer-item a span,
  footer.email-footer .footer-item span span {
    margin: 0 !important;
    font-size: 2.92vw !important;
  }
}

/* VIEWPOINT-360px */
@media (max-width: 360px) {
  article.article_view>div {
    width: 100% !important;
  }

  #message_view_table {
    height: 100vh !important;
  }

  #message_view_table ul {
    padding: 4.44vw 0 !important;
  }

  .email-container span.line {
    margin: 0 !important;
    margin: 6.66vw 0 !important;
  }

  .email-footer span.pc-only {
    margin: 0 !important;
    display: none;
  }

  .email-container {
    max-width: 100vw !important;
    padding: 8.88vw 3.33vw !important;
  }

  .email-container .title .title-text h5 {
    font-size: 4.44vw !important;
    line-height: 1.4 !important;
  }

  .email-container .title .title-text h5 span {
    margin: 0 !important;
    font-size: 4.44vw !important;
    line-height: 1.4 !important;
  }

  .email-container .info {
    padding: 3.33vw !important;
  }

  .email-container .info .info-text {
    margin-bottom: 3.33vw !important;
  }

  .email-container .info .info-text span {
    margin: 0 !important;
    font-size: 3.88vw !important;
    line-height: 1.2 !important;
  }

  .email-container .info .info-text span span {
    font-size: 3.88vw !important;
    line-height: 1.2 !important;
  }

  .email-container .info .info-text br {
    display: none !important;
  }

  .email-container .certificate,
  .email-container .account-info {
    width: 100% !important;
    background: unset !important;
    padding: 0 !important;
  }

  .email-container .certificate .certificate-image {
    display: block !important;
    width: 80vw !important;
    height: 113.05vw !important;
    background: #fff !important;
  }

  .email-container .account-table {
    width: 100% !important;
  }

  .account-info .account-table table th,
  .account-info .account-table table td {
    font-size: 3.33vw !important;
  }

  .email-container .account-info .account-table table th span,
  .email-container .account-info .account-table table td span {
    font-size: 3.33vw !important;
  }

  .email-container .account-info .account-table span.line {
    margin: 3.33vw 0 !important;
  }

  .email-container .account-info .account-table span.table-title {
    font-size: 3.88vw !important;
    padding: 3.33vw 0 !important;
  }

  .email-container .account-info .account-table span.table-title span {
    font-size: 3.88vw !important;
    padding: 3.33vw 0 !important;
  }

  .email-container .button-group {
    flex-direction: column !important;
  }

  .email-container .button-group button {
    font-size: 3.33vw !important;
    line-height: 1.4 !important;
    margin-right: 0 !important;
    margin-bottom: 3.33vw !important;
  }

  .email-container .button-group button:last-child {
    margin-bottom: 0 !important;
  }

  .email-container .button-group button span {
    margin: 0 !important;
    font-size: 3.33vw !important;
    line-height: 1.4 !important;
  }

  .email-container .change-info {
    padding: 3.33vw !important;
  }

  .email-container .change-info .change-text {
    margin-bottom: 5.56vw !important;
  }

  .email-container .change-info .change-text span.content {
    font-size: 3.88vw !important;
    line-height: 1.2;
    margin-bottom: 3.33vw !important;
  }

  .email-container .change-info .change-text span.content span {
    font-size: 3.88vw !important;
    line-height: 1.2;
  }

  .email-container .change-info .change-text span.underline {
    font-size: 3.88vw !important;
    margin-top: 3.88vw !important;
  }

  .email-container .guidebox {
    margin-bottom: 6.66vw !important;
  }

  .email-container .guidebox h6 {
    font-size: 4.44vw !important;
  }

  .email-container .guidebox .guide-list ul li {
    line-height: 1.2 !important;
    list-style: none !important;
    margin-bottom: 3.33vw !important;
    text-indent: -8.89vw !important;
  }

  .email-container .guidebox .guide-list ul li::before {
    line-height: 1.4 !important;
    margin-right: 1.66vw !important;
    width: 5.56vw !important;
    height: 5.56vw !important;
    font-size: 3.33vw !important;
  }

  .email-container .guidebox .guide-list ul li span {
    margin: 0 !important;
    font-size: 3.88vw !important;
    line-height: 1.4 !important;
  }

  .email-container .guidebox .guide-list ul li p span {
    margin: 0 !important;
    font-size: 3.88vw !important;
    line-height: 1.4 !important;
  }

  footer.email-footer {
    max-width: 100vw !important;
    padding: 8.88vw 3.33vw !important;
    font-size: 3.88vw !important;
  }

  footer.email-footer .footer-item a {
    display: block;
    margin-bottom: 2.2vw !important;
  }

  footer.email-footer .footer-item a::before {
    content: "►";
    padding-right: 1.66vw !important;
  }

  footer.email-footer .footer-item p span,
  footer.email-footer .footer-item a span,
  footer.email-footer .footer-item span span {
    margin: 0 !important;
    font-size: 3.88vw !important;
  }
}
